{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}

{% block body %}
    <h1>Liste de tous les acteurs </h1>
    {% for actor in actors %}
        <div class="card mb-3">
            <div class="card-body">
                <img class="card-img" alt="image" src="{{ actor.picture }}">
                <h2 class="card-title">{{ actor.name }} </h2>
            </div>
        </div>
    {% else %}
        Aucun acteur trouvé.
    {% endfor %}
{% endblock %}
