@import "~bootstrap/scss/bootstrap";

:root{
  --dark-grey : #1F1F1F;
  --dark-green : #214938;
  --light-green : #587769;
  --light-grey : #ACBBB4;
  --white : #FFFFFF;
  --black: black;
  --h1-family : 'Roboto', sans-serif;
  --h2-family : 'Roboto Condensed', sans-serif;
  --text-family : 'Hind Madurai', sans-serif;
  --h1-size: 28px;
  --h2-size: 24px;
  --text-size: 20px;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

main{
  //min-height: 100vh;
  text-align: center;
}

/* Styles pour les titres h1 dans la navbar */
.navbar-brand,
.navbar-nav .nav-link {
  color: var(--white);
  font-family: var(--h1-family);
  font-size: var(--h1-size);
}

/* Style pour le lien actif dans la navbar */
.navbar-nav .nav-item.active .nav-link {
  color: var(--white) !important;
}

/* Styles pour les dropdowns dans la navbar */
.navbar-nav .dropdown-menu {
  background-color: var(--dark-green);
}

/* Styles pour les items dans les dropdowns */
.navbar-nav .dropdown-menu .dropdown-item {
  color: var(--white);
}

.dropdown-item:hover{
  background-color: black;
}

/* Styles pour le bouton du dropdown */
.navbar-nav .dropdown-toggle {
  color: var(--white);
}

/* Styles pour le bouton de la navbar */
.navbar-toggler-icon {
  background-color: var(--white);
}

/* Styles pour les liens Favoris et Profil */
.navbar-nav .favorite,
.navbar-nav .nav-link[href='#Connexion'],
.navbar-nav .nav-link[href='#Profil'] {
  color: var(--white);
  font-family: var(--h1-family);
  font-size: var(--h1-size);
}

/* Styles pour le fond de la navbar */
.navbar-light {
  background-color: var(--dark-green) !important;
  color: var(--white);
}

/* Style pour la barre de navigation sur les écrans de plus de 1200px */
@media (min-width: 1200px) {
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* Style pour le conteneur à droite (connexion, profil, photo de profil) */
  .navbar-nav .profile-picture-container {
    margin-left: auto; /* Pousse tout vers la droite */
    display: flex;
    align-items: center;
  }
}

.card-body {
  margin: 2rem 4rem;
  background-color: var(--black);
  color: white;
  width : 60%;
  border-radius: 10px;
  box-shadow: 25px -19px 10px 2px var(--light-green);
}

.card-title{
  font-size: var(--h1-size);
  font-family: var(--h1-family);
  color: var(--white);
}

.card-category{
  font-style: italic;
  font-size: var(--h2-size);
  font-family: var(--h2-family);
  color: var(--white);
}

.card-text{
  font-size: var(--text-size);
  font-family: var(--text-family);
  color: var(--white);
}

.btn-primary{
  --bs-btn-bg: var(--light-green);
  --bs-btn-border-color : var(--dark-green);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--dark-green);
  --bs-btn-hover-border-color: var(--dark-green);
}

.card.mb-3 {
  border: none;
  flex-wrap: wrap;
  align-content: center;
}

.series-title{
  margin-bottom: 2rem;
}

.home-description{
  margin : 2rem 5rem;
  font-size: var(--text-size);
  font-family: var(--text-family);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: var(--dark-green) !important;
  font-size: var(--h2-size);
  font-family: var(--h2-family);
  color: var(--white);
  margin-top : auto;
}
.text-body {
  list-style-type: none;
  font-size: var(--h2-size);
  font-family: var(--h2-family);
  text-decoration: none;
}

.element {
  border: 0 solid rgba(100, 100, 100, 1);
  border-radius: 5px;
  box-shadow: 21px 21px 4px 8px rgba(36, 36, 36, 0.3);
  transition: box-shadow 344ms ease-out;
  margin: 3% 10%;
  color: var(--dark-green);
  width: 80%;
  height: 50rem;
}

.element:hover {
  box-shadow: 30px 30px 17px 2px rgba(0, 0, 0, 0.3);
}

.element.text {
  position: relative;
  background-image: url('/public/build/images/tv.jpg');
  background-size: cover;
  color: #ffffff;
  padding: 45px;
}

.text {
  font: normal normal 27px/1.8 "roboto";
  letter-spacing: 7px;
}

#navbarSupportedContent{
  margin-left : 5rem;
}

.card-img{
  height:220px;
  width:300px;
}

.btn-secondary{
  font-size: var(--h2-size);
  font-family: var(--h2-family);
  border: 0 solid rgba(100, 100, 100, 1);
  border-radius: 5px;
  box-shadow: 15px 21px 8px 2px rgba(36, 36, 36, 0.3);
  transition: box-shadow 344ms ease-out;
  margin: 3rem 15rem;
  background-color: var(--dark-green);
  color: white;
}
.btn-secondary:hover {
  box-shadow: 30px 30px 17px 2px rgba(0, 0, 0, 0.3);
}

.link-season{
  color: var(--white);
  font-size: var(--h2-size);
  font-family: var(--h2-family);
}

.link-season:hover{
  color: var(--dark-green);
}

.ul-program{
  padding-left :0;
}
.card-bodyEpisode{
  background-color: var(--dark-green);
  margin: 2rem 4rem;
  width : 60%;
  border-radius: 10px;
  box-shadow: 25px -19px 10px 2px var(--light-green);
}

.list-group{
  align-items: center;
}
.list-group-item {
  background-color: var(--dark-green);
  color : var(--white);
  font-size: var(--h2-size);
  font-family: var(--h2-family);
  margin : 1rem 0;
}

.btn-primary {
  --bs-btn-bg: var(--black);
}

.actors-list{
  text-align: center;
  padding:0;
}