:root{
    --dark-grey : #1F1F1F;
    --dark-green : #214938;
    --light-green : #587769;
    --light-grey : #ACBBB4;
    --white : #FFFFFF;
    --h1-family : 'Roboto', sans-serif;
    --h2-family : 'Roboto Condensed', sans-serif;
    --text-family : 'Hind Madurai', sans-serif;
    --h1-size: 24px;
    --h2-size: 20px;
    --text-size: 18px;
}

.navbar-light {
    background-color: var(--dark-green) !important;
}
.navbar-light a{
    color : var(--white);
    font-family: var(--h1-family);
    font-size: var(--h1-size);
}
.dropdown-menu{
    color : var(--dark-green);
    font-family: var(--text-family);
    font-size: var(--text-size);
}
.nav-item {
    color : var(--dark-green);
    font-family: var(--text-family);
    font-size: var(--text-size);
}