<!DOCTYPE html>
<html lang="fr">
     <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('build/images/fav.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
        {% include '_navbar.html.twig' %}
        </header>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer class="bg-body-tertiary text-center text-lg-start">
            <div class="text-center p-3">
                © 2020 Copyright: Julie Raymond
                <a class="text-body" href="https://www.linkedin.com/in/julie-raymond-5b391a162/">Mon LinkedIn</a>
            </div>
        </footer>
    </body>
</html>
