{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    <a class="nav-link dropdown-toggle" href="{{ path('program_index') }}">
        <div class="element text">
            <p>Explorez Wild Series <br> des séries captivantes!</p>
        </div>
    </a>
{% endblock %}